/* @import url("https://fonts.googleapis.com/css?family=Didact+Gothic"); */
@import url("https://fonts.googleapis.com/css?family=Concert+One");

.App {
  text-align: center;
}

h1 {
  margin-left: 44%;
}

.gameBoard {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 25px;
  width: 150px;
  height: 150px;
  border: 4px black solid;
  list-style-type: none;
  background-color: aqua;
  font-size: 35px;
  font-family: "Concert One";
  text-align: center;
  line-height: 9rem;
}

.card .symbol {
  width: 70%;
  height: 70%;
  margin: 25px 0;
}
