@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");

#title {
  margin-left: 18%;
  font-family: "Didact Gothic";
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  align-items: stretch;
  justify-content: space-evenly;
  box-shadow: 0 0 50px lightgray;
  border: 1px lightgray solid;
  margin: auto;
  width: 60%;
  padding: 20px;
}

.card {
  border-radius: 25px;
  width: 135px;
  height: 135px;
  border: 1px lightgray solid;
  text-align: center;
  box-shadow: 10px 5px 5px lightgray;
}

.card .symbol,
.cardBack {
  width: 50%;
  height: 50%;
  margin: 35px 0;
}

#reshuffleBtn {
  grid-column: 4 / 4;
  border-radius: 10px;
  width: 135px;
  height: 35px;
  background-color: #fff;
  font-family: "Didact Gothic";
  font-size: 15px;
  box-shadow: 10px 5px 5px lightgray;
}

.reshuffleBtn:active {
  transform: translateY(4px);
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px lightgray;
}
